@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');


.bodydelete {
    padding-left: 15%;
    background: linear-gradient(180deg, #71E5FF 0%, #0053A0 100%);
    margin-top: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Signika Negative', sans-serif;
}

.body-con-de {
    margin: 30px 50% 0 5%;

}

.delete-title {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.chiller-dropdown-de {
    margin-bottom: 20px;
}

.chiller-dropdown-de label {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.chiller-dropdown-de select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #EFEFEF;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

.chiller-dropdown-de select:hover {
    background-color: #e0e0e0;
}

.emoji {
    color: yellow;
    padding: 2px;
}

.exclamation-icon {
    width: 30px;
    /* Set the width to 30px */
    height: 30px;
    /* Set the height to 30px */
    /* Add any other styles as needed */
}

.textfield {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-radius: 15px;
    padding: 10px 10px 10px;
    border: 2px solid #323232;
    background: #EFEFEF;
    font-size: 16px;
    color: #000;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-left: 0px;
}

.description-de {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 80%;
}

.selection-area {
    margin-top: 10px;
    border-radius: 15px;
    padding: 2px;
    border: 2px solid #323232;
    background: #EFEFEF;
    font-size: 16px;
    padding-bottom: 4px;
    color: #000;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 400px;
}

.button-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 195px;
    height: 45px;
    background-color: rgb(242, 61, 61);
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 100px;
    transition: background-color .3s;
    text-align: center;
    margin: 50px 0 0;
    font-size: 20px;
}

.button-delete:hover {
    background-color: rgb(181, 102, 102);
    /* Change this to your desired button background color on hover */
}

@media screen and (max-width: 1330px) {
    .bodydelete {
        padding-left: 0%;
    }

    .body-con-de {
        margin: 30px 20px 0 10px;

    }

    .chiller-dropdown-de {
        margin-bottom: 20px;
        margin-right: 50%;
    }

    .delete-title {
        font-size: 40px;
    }

    .selection-area {
        margin-right: 100px;
        width: 200px;
    }

    .chiller-dropdown-de label {
        font-size: 15px;
        width: 200px;
    }

    .description-de {
        width: 50%;
    }

}


@media screen and (max-width: 480px) {
    .bodydelete {
        padding-left: 0%;
    }

    .body-con-de {
        text-align: center;
        width: 100%;
        margin: auto;
        margin-top: 10px;
    }

    .chiller-dropdown-de {
        text-align: center;
        margin-right: auto;
        width: 100%;
    }

    .delete-title {
        font-size: 40px;
        margin-top: 10px;
    }

    .selection-area {
        margin: auto;
        margin-top: 10px;
        width: 230px;
    }

    .chiller-dropdown-de label {
        font-size: 15px;
        width: 140%;
    }
    
    .des-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Center items horizontally */
        justify-content: center;
        /* Center items vertically */
        min-height: 0vh;
        /* Ensure it takes up the full viewport height */
        text-align: center;
        /* Center the text horizontally */
        margin: 10px 0;
        /* Add some space around the description */
    }

    .description-de {
        width: 90%;
    }

    .textfield {
        width: 206px;
    }

    .form-input {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 1vh;
    }
}