@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');


.bodyChiller {
    padding-left: 15%;
    background: linear-gradient(180deg, #71E5FF 0%, #0053A0 100%);
    margin-top: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Signika Negative', sans-serif;
}

.body-con {
    margin: 30px 50% 0 5%;
}

.yourChiller-title {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.chiller-dropdown1 {
    margin-bottom: 20px;
}

.chiller-dropdown1 label {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.chiller-dropdown1 select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #EFEFEF;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

.chiller-dropdown1 select:hover {
    background-color: #e0e0e0;
}

.mode-dropdown select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #EFEFEF;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

.mode-dropdown select:hover {
    background-color: #e0e0e0;
}

.mode-dropdown label {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.selection-area-ch {
    margin-top: 10px;
    border-radius: 15px;
    padding: 2px 2px 4px;
    border: 2px solid #323232;
    background: #EFEFEF;
    font-size: 16px;
    color: #000;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 60%;
}

.textfield {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    margin-top: 10px;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid #323232;
    background: #EFEFEF;
    font-size: 16px;
    color: #000;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-left: 0px;
}

.button-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 180px;
    height: 45px;
    background-color: #323232;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 100px;
    transition: background-color .3s;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.button-submit:hover {
    background-color: #646569;
}

.form-group {
    margin-left: 0px;
}

.description-ch {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 80%;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.side-text {
    width: 450px;
    text-align: left;
    margin-left: 10px;
    padding-top: 8px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}

@media screen and (max-width: 1330px) {
    .bodyChiller {
        padding-left: 0%;
    }

    .body-con {
        margin: 30px 20px 0 10px;

    }

    .chiller-dropdown {
        margin-bottom: 20px;
        margin-right: 50%;
    }

    .yourChiller-title {
        font-size: 40px;
    }

    .selection-area-ch {
        margin-right: 100px;
        width: 200px;
    }

    .chiller-dropdown label {
        font-size: 15px;
    }

    .mode-dropdown label {
        font-size: 15px;
    }

    .input-container {
        justify-content: flex-start;
    }

    .side-text {
        margin-left: 10px;
    }
}

@media screen and (max-width: 480px) {
    .bodyChiller {
        padding-left: 0;
    }

    .body-con {
        text-align: center;
    }

    .description-ch {
        width: 100%;
    }

    .yourChiller-title {
        font-size: 36px;
    }

    .chiller-dropdown1 {
        text-align: center;
        margin-right: auto;
    }

    .mode-dropdown {
        text-align: center;
        margin-right: auto;
    }

    .selection-area-ch {
        width: 300px;
        margin: auto;
        margin-top: 10px;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 0vh;
    }

    .textfield {
        width: 100%;
        margin-left: 0;
    }

    .side-text {
        width: 100%;
        text-align: center;
        margin-left: 0;
    }

    .button-area {
        text-align: center;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}