@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');

.bodyregisterCL {
    padding-left: 15%;
    background: linear-gradient(180deg, #71E5FF 0%, #0053A0 100%);
    margin-top: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Signika Negative', sans-serif;
}

.body-con {
    margin: 30px 50% 0 5%;

}

.register-title {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.textfield {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-radius: 15px;
    padding: 10px 10px 10px;
    border: 2px solid #323232;
    background: #EFEFEF;
    font-size: 16px;
    color: #000;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-left: 0px;
}

.button-register {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 200px;
    height: 45px;
    background-color: #323232;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 100px;
    transition: background-color .3s;
    text-align: center;
    margin: 10px 0 0 0px;
    font-size: 20px;
}

.button-register:hover {
    background-color: #646569;
    /* Change this to your desired button background color on hover */
}

.description {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 80%;
}


@media screen and (max-width: 1120px) {

    .bodyregisterCL {
        padding-left: 0%;
    }
    
    .register-title {
        font-size: 28px;
    }
   
   
    .textfield {
        margin-left: 36px;
    }
    
}

@media screen and (max-width: 480px) {
    
    .bodyregisterCL {
        padding-left: 0%;
    }
    
    .register-title {
        font-size: 28px;
    }
   
   
    .textfield {
        margin-left: 16px;
    }
    
}