/* Home.css */

@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');


body {
    margin: 0;
    padding: 0;

}

/* If there are other containers, make sure to remove margin and padding from them as well. */
.container {
    margin: 0;
    padding: 0;
    font-family: 'Signika Negative', sans-serif;

}


.header {
    background: #111;
    height: 80px;
}

.header-con {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 20px;
}

.brand-name {
    font-size: 20px; /* Adjust the font size as needed */
    color: #fff; /* Text color */
    margin-left: 10px; /* Add spacing between the logo and text */
  }
  

.logo1-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo1 {
    /* Add the necessary styles for the logo when displayed */
    width: 50px; /* Set the width as per your design */
    height: 50px; /* Set the height as per your design */
    /* Add more styles as needed */
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile img {
    width: 50px;
    /* Adjust the size as needed */
    height: 50px;
    /* Adjust the size as needed */
    border-radius: 50%;
    /* Create a circular shape */
    margin-right: 15px;
    /* Add some spacing between the image and text */
    margin-left: 15px;
}

.user-profile span {
    display: flex;
    text-decoration: none;
    color: #fff;
}

.menu {
    list-style-type: none;
    padding: 0;
    /* Remove default padding */
}

.menu-button {
    display: flex;
    /* Use flexbox to center content */
    align-items: center;
    /* Vertically center content */
    justify-content: center;
    /* Horizontally center content */
    padding: 5px;
    width: 230px;
    height: 45px;
    background-color: #2a89c4;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: background-color .3s;
    text-align: center;
    margin: 10px 0px 0px 6px;
    font-size: 20px;
}

.menu-button:hover {
    background-color: #0056b3;
    /* Change this to your desired button background color on hover */
}

.icon {
    display: block;
    font-size: 25px;
    padding-right: 10px;
    padding-top: 5px;
}

.toggle-menu {
    display: none;
}

.menu-container {
    width: 255px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0%;
    opacity: 1;
    transition: 0.5s ease;
    background: #333;
    z-index: 1;
}

.menu-link-logout {
    position: absolute;
    bottom: 20px; /* Adjust the distance from the bottom as needed */
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    width: 100%; /* Make the link take up the full width of the sidebar */
  }

.logout-link {
    display: flex;
    padding: 10px;
    width: 200px;
    background-color: rgb(242, 61, 61);
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: background-color .3s;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 0px 17px;
}

.logout-link:hover {
    background-color: rgb(208, 103, 103);
    /* Change this to your desired button background color on hover */
}


@media screen and (max-width: 1330px) {
    .toggle-menu {
        display: block;
        color: #fff;
        font-size: 3rem;
        margin-bottom: 0px;
        padding-left: 15px;
        padding-top: 10px;
    }

    .menu-container {
        width: 255px;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: 0.5s ease;
        background: #323232;
        z-index: 1;
    }

    .menu-container.active {
        left: 0;
        opacity: 1;
    }

    .user-profile {
        position: absolute;
        top: 14px;
        right: 0;
        display: flex;
        align-items: center;
        margin-right: 10px; /* Add some spacing between the picture and the top/right edges */
    }

    .user-profile span {
        margin-right: 10px;
        display: none;
    }

}


@media screen and (max-width: 480px) {
    .toggle-menu {
        display: block;
        color: #fff;
        font-size: 3rem;
        margin-bottom: 0px;
        padding-left: 15px;
        padding-top: 10px;
    }

    .menu-container {
        width: 255px;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: 0.5s ease;
        background: #323232;
        z-index: 1;
    }

    .menu-container.active {
        left: 0;
        opacity: 1;
    }

    .user-profile {
        position: absolute;
        top: 14px;
        right: 0;
        display: flex;
        align-items: center;
        margin-right: 10px; /* Add some spacing between the picture and the top/right edges */
    }

    .user-profile span {
        margin-right: 10px;
        display: none;
    }

}