/* Home.css */

@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');


body {
    margin: 0;
    padding: 0;

}

/* If there are other containers, make sure to remove margin and padding from them as well. */
.container {
    margin: 0;
    padding: 0;
    font-family: 'Signika Negative', sans-serif;

}


.header {
    background: #111;
    height: 80px;
}

.header-con {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.flex-container {
    display: flex;
    align-items: center;
    /* Center vertically */
    justify-content: center;
    /* Center horizontally */
    flex: 1;
    /* Allow the flex container to expand and fill the available space */
}

.logo {
    width: 40px;
    /* Set the width as per your design */
    height: 40px;
    /* Maintain aspect ratio */
    /* Add more styles as needed */
}


.user-profile {
    display: flex;
    align-items: center;
}

.user-profile img {
    width: 50px;
    /* Adjust the size as needed */
    height: 50px;
    /* Adjust the size as needed */
    border-radius: 50%;
    /* Create a circular shape */
    margin-right: 15px;
    /* Add some spacing between the image and text */
    margin-left: 15px;
}

.user-profile span {
    display: flex;
    text-decoration: none;
    color: #fff;
}

.menu {
    list-style-type: none;
    padding: 0;
    /* Remove default padding */
}

li.menu-link {
    width: 241px;
    height: 45px;
    border-radius: 10px;
    text-decoration: none;
    background: #2A89C4;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

li.menu-link a {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    padding-left: 3%;
}

.toggle-menu {
    display: none;
}

.menu-container {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0%;
    opacity: 1;
    transition: 0.5s ease;
    background: #333;
    z-index: 1;
}

.menu-link-logout {
    position: absolute;
    bottom: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 14%;
}

.logout-link {
    display: inline-block;
    padding: 10px;
    width: 160px;
    background-color: red;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: background-color .3s;
  }
  
  .logout-link:hover {
    background-color: #d00; /* Change this to your desired button background color on hover */
  }
  

@media screen and (max-width: 480px) {
    .toggle-menu {
        display: block;
        color: #fff;
        font-size: 3rem;
        margin-bottom: 0px;
        padding-left: 15px;
        padding-top: 10px;
    }

    .menu-container {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: 0.5s ease;
        background: #323232;
        z-index: 1;
    }

    .menu-container.active {
        left: 0;
        opacity: 1;
    }

    .user-profile span {
        margin-right: 10px;
        display: none;
    }

    .logo {
        display: none;
    }

}