@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');


.custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.custom-modal {
    border-radius: 15px;
    background: linear-gradient(180deg, #4DF 0%, #2C9BCD 40.95%, #083B86 100%);
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    font-family: 'Signika Negative', sans-serif;
    font-size: 25px;
    font-weight: 200;
    color: #fff;
}

.modal-content {
    text-align: center;
    width: 250px;
}

.modal-message {
    font-size: 25px;
    margin-bottom: 10px;
}

.modal-content button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 180px;
    height: 45px;
    background-color: #292929;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 100px;
    transition: background-color .3s;
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
    margin: auto;
    
}

.modal-close-button:hover {
    background-color: #646569;
}