@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');

.bodyHome {
    padding-left: 15%;
    background: linear-gradient(180deg, #71E5FF 0%, #0053A0 100%);
    margin-top: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Signika Negative', sans-serif;

}

.body-con {
    margin: 30px 50% 0 5%;

}

.homepage-title {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.description-home {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
}

/* Add these styles to your Home.css file */
.chiller-select {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 25px;
    padding-top: 50px;
    color: #000;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.chiller-dropdown {
    margin-bottom: 20px;
}

.chiller-dropdown label {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.chiller-dropdown select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #EFEFEF;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

.chiller-dropdown select:hover {
    background-color: #e0e0e0;
}

.selection-area {
    margin-top: 10px;
    border-radius: 15px;
    padding: 2px;
    border: 2px solid #323232;
    background: #EFEFEF;
    font-size: 16px;
    padding-bottom: 4px;
    color: #000;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.chiller-con {
    display: flex;
    display: flex;
    width: auto;
    height: auto;
}

.details-con {
    width: 100%;
    height: 100%;
    text-align: center;
}

.chiller-name-con {
    display: flex;
}

.chiller-name {
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
}

.chiller-details {
    border-radius: 10px;
    padding: 15px;
    background: linear-gradient(180deg, #C0F4FF 0%, rgba(0, 146, 178, 0.00) 100%);
    width: 600px;
}

/* Add these styles to your Home.css file */
.temperature-container {
    display: flex;
    justify-content: space-between;
    /* Separate high and low temperature columns */
    align-items: center;
    width: 100%;
}

.temperature-column {
    margin-top: 10px;
    border: 2px solid #323232;
    background: #EFEFEF;
    border-radius: 15px;
    width: 70%;
    text-align: center;
}

.status-current {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #333;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 80%;
}

.current-output {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fffdfd;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
    font-size: 85px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 80%;
    margin: auto;
}

.temperature-side-display {
    display: block;
    width: 400px;
    margin-left: 15px;
}

.temperature-mode {
    text-align: center;
    margin-top: 10px;
}

.status-mode {
    color: #333;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    width: 100%;
}

.mode-output {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 10px;
}

.temperature-set {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-right: 10%;
}

.topic-status {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #333;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.status-output {
    color: #fff;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 100%;
}

@media screen and (max-width: 1330px) {
    .bodyHome {
        padding-left: 0%;
    }

    .body-con {
        margin: 30px 20% 0 5%;

    }

    .chiller-name-con {
        display: contents;
        width: 90%;
    }

    .chiller-dropdown {
        margin-bottom: 20px;
        margin-right: 50%;
    }

    .chiller-details {
        width: 600px;
    }

    .temperature-column {
        margin-top: 10px;
        border: 2px solid #323232;
        background: #EFEFEF;
        border-radius: 15px;
        width: 60%;
        text-align: center;
    }

    .temperature-side-display {
        display: block;
        width: 300px;
        margin-left: 15px;
    }

    .temperature-set {
        display: flex;
        text-align: center;
        margin: 0 10% 5%;
        justify-content: space-between;
    }

}


@media screen and (max-width: 480px) {
    .bodyHome {
        text-align: center;
    }

    .description-home {
        width: 100%;
    }

    .chiller-details {
        width: 93%;
        margin-top: 10px;
    }

    .chiller-name-con {
        display: contents;
        text-align: center;
    }

    .chiller-name {
        font-size: 30px;
    }

    .temperature-container {
        display: block;
    }

    .temperature-column {
        margin-top: 10px;
        border: 2px solid #323232;
        background: #EFEFEF;
        border-radius: 15px;
        width: 100%;
        text-align: center;
    }

    .temperature-set {
        display: flex;
        text-align: center;
        margin: 0px 10% 5% 10%;
        justify-content: space-between;
    }

    .topic-status {
        color: #333;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .status-output {
        color: #fff;
        font-size: 30px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        width: 100%;
    }

    .status-mode {
        color: #333;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
    }

    .mode-output {
        color: #fff;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-left: 15px;
    }

    .temperature-mode p {
        margin: 1% 5%;
    }

    .temperature-side-display {
        display: block;
        width: 100%;
        margin-left: 0px;
    }

    .chiller-dropdown {
        text-align: center;
        margin-right: auto;
        width: 100%;
    }

    .selection-area {
        margin: 10px auto auto;
        width: 230px;
    }
}